# Cloudflare API Token
CF_API_TOKEN=your_api_token_here

# Domain(s) to update (comma-separated)
DOMAINS=example.com

# Zone ID
CF_ZONE_ID=your_zone_id_here

# Cloudflare Proxy (true/false)
PROXIED=false

# Update interval
UPDATE_CRON=@every 5m

# IP detection provider
IP4_PROVIDER=cloudflare.doh
IP6_PROVIDER=none

# Detection timeout
DETECTION_TIMEOUT=15s